/* Navbar Styling */
.navbar {
    background-color: #243642;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links {
    display: flex;
    gap: 15px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar a:hover {
    color: #ddd;
}
.navbar-logo {
    margin-left: auto; /* Pushes the logo to the far right */
}
